@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
  max-width: 1320px;
  margin: 0 auto;
}
/* header section start  */

.banner-container {
  width: 1320px;
  min-height: 600px;
  margin: 20px auto;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.3);
  background-image: url(images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner-content {
  width: 630px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 177px auto;
  text-align: center;
}

.banner-content h3,
p {
  color: white;
}

.banner-content h3 {
  font-size: 32px;
  font-weight: 900;
}
.banner-content p {
  font-size: 60px;
  font-weight: 400;
}

/* discount section start */

.discount {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;

  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 16px;
}
.discount-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  height: 300px;
}
.discount-img img {
  width: 800px;
  height: 500px;
}
.discount-content h1 {
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
  color: #ff0000;
}
.discount-content p {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.discount-content h2 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
}

/* hero container start */

.hero-container {
  height: 600px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(images/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 16px;
}
.hero-content {
  width: 55%;
}

.hero-content h1 {
  font-size: 64px;
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.hero-content p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.primary-btn {
  font-size: 20px;
  font-weight: 700;
  /* color: rgb(255, 255, 255); */
}
.primary-btn button {
  color: white;
  background: transparent;
  border: none;
}
.hero-img {
  padding-top: 78px;
}
/* time container start */
.time-container {
  height: 485px;

  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  margin-top: 70px;
  margin-bottom: 70px;
}
.time-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.colors {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
.time-text p {
  color: rgb(7, 2, 17);
  font-size: 36px;
  font-weight: 600;
}
.btn {
  /* Frame 1 */
  /* width: 167px;
  height: 56px; */
  /* Auto layout */
  /* display: flex; */
  /* justify-content: center; */
  padding: 16px 32px 16px 32px;
}

.btn button {
  width: 167px;
  height: 56px;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  padding: 16px 32px 16px 32px;
  font-size: 22px;
  cursor: pointer;
}

/* picture container section */

.picture-container {
  height: 463px;
  border: 2px solid darkblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  gap: 60px;
}
.picture-container-content {
  border: 2px solid darkslateblue;
  width: 393px;
  height: 255px;
}
.picture-container-content h3 {
  color: #ff0000;
  font-size: 24px;
  font-weight: 500;
}
.picture-container-content h1 {
  font-size: 48px;
  font-weight: 900;
  color: #070211;
}
.picture-container-content p {
  font-size: 22px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
  /* padding-right: 50px; */
}
.picture-container-img {
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
  width: 464px;
  width: 464px;
}
.picture-container-img img {
  width: 364px;
  width: 364px;
  border-radius: 100px;
}
.picture-container-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 2px solid darkslateblue;
}
.text2024 {
  width: 276px;
  height: 170px;
}
.text2024 h2 {
  font-size: 48px;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
.text2024 p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}
.new-year {
}
.new-year img {
  width: 140px;
  height: 140px;
}

/* holiday stats */

.sale-container {
  width: 1070px;
  height: 260px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.sale-container h4 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(7, 2, 17);
}
.sale-container h1 {
  font-size: 72px;
  font-weight: 900;
  color: rgb(7, 2, 17);
}
#holidays {
  color: rgb(255, 0, 0);
}
.sale-container p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(7, 2, 17);
}
/* gift section */

.gift-box {
  height: 664px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 100px;
  background-image: url(images/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 20px;
}
.gift-content {
  display: flex;
  width: 60%;
}
.gift-img {
  height: 577px;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
}
.gift-img img {
  /* height: 577px; */
  border: #ff0000;
}
.gift-50 {
  width: 305px;
  height: 305px;
  border: 3px solid saddlebrown;
  margin-top: 77px;
  margin-left: 170px;
}

/* bag section */

.bag-container {
  margin-bottom: 110px;
}

.bag-container .best {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  margin-bottom: 17px;
}
.bag-container h2 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 17px;
}
.bag-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 32px;
}

.item {
  width: 424px;
  height: 450px;
}
/* Newsletter section starts*/

.newsletter-container {
  height: 616px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.newsletter-content {
  width: 900px;
  height: 340px;
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 80px;
}
.newsletter-content img {
  width: 150px;
  height: 150px;
}
.newsletter-content h1 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-transform: capitalize;
}
.newsletter-content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.newsletter-btn {
  width: 660px;
  height: 74px;
  display: flex;
  border: 1px solid #ff0000;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.newsletter-btn input {
  width: 65%;
  height: 100%;
  border-radius: 50px 0 0 50px;
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.newsletter-btn button {
  width: 35%;
  height: 100%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0px 50px 50px 0px;
  background: rgb(255, 0, 0);
}
